html, body {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #040404;
    background: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: #ffffff;
    color: #040404;
    line-height: 1.6;
}

header {
    background: #000000;
    color: #f2fa00;
    padding: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
}

nav {
    display: flex;
    gap: 14px;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.95rem;
    transition: 0.3s;
}

nav a:hover {
    background-color: #585dfa;
    color: #fff;
}
/* Logo */
header img {
    height: 150px;    /* define a altura do logo */
    width: auto;     /* mantém a proporção */
}



nav a:hover {
    background-color: #585dfa;
    color: #fff;
}

.contato-section {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f0f0f0; /* cor de fundo suave */
}
.contato {
    max-width: 1000px;
    width: 100%;
    background-color: #fff; /* destaque do conteúdo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.contato h2 {
    color: #050505;
    text-align: center;
    margin-bottom: 20px;
}

.contato h3 {
    color: #050505;
    margin-top: 20px;
}

.contato p, .contato li {
    margin: 8px 0;
    line-height: 1.6;
}
.contato img{
    width: 25px;             
    height: 25px;            
    margin: 0 8px;            
    vertical-align: middle;
}
footer p{
    margin: 5px 0; /* espaço entre parágrafos */
    font-size: 14px
}

footer {
    background: #000;
    color: #fff;
    padding: 18px 20px;
    text-align: center;
    font-size: 0.95rem;
    border-top: 1px solid rgba(217,119,6,0.2);
}
footer img{
   width: 30px; 
    height: 30px;
    margin: 0 5px; 
    vertical-align: middle; 
    cursor: pointer; 
    transition: transform 0.2s;
}
footer img:hover {
    transform: scale(1.2);
}